/* Small table view settings */
table.gb-grid-small {
  background-color: #F8F8F8;
  border-collapse: collapse;
  border: 2px solid #3a9ee0;
  font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*general*/
table.gb-grid-small th{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 9px;
  font-weight: bold;
  color: white;
  background-color: #3a9ee0;
  border: 1px solid #eeeeee;
  text-align: center;

}
/* Context settings */
table.gb-grid-small th.gb-context{
  background-color: #0B4FB5;
  text-align: left;
  width: 100px;
}

table.gb-grid-small span.gb-context-rank1 {
  color: white;
  font-weight: bold;
}

table.gb-grid-small span.gb-context-rank2 {
  font-size: 9px;
  color: yellow;
}

table.gb-grid-small span.gb-context-rank3 {
  font-size: 8px;
  color: #FFFFCC;
}

table.gb-grid-small span.gb-context-rankX {
  font-size: 7px;
  color: black;
}

/* First header row */
table.gb-grid-small th.gb-part1-header-benign {
  background-color: rgb(0,128,64);
  font-weight: bold;
  font-size: 11px;
  color: white;
}

table.gb-grid-small th.gb-part1-header-pathogenic {
  background-color: rgb(194, 69, 82);
  font-weight: bold;
  font-size: 11px;
  color: white;
}



/* Column main cell */
table.gb-grid-small th {
  background-color: white;
  font-weight: normal;
  color: #3a9ee0;
  border: 1px solid #3a9ee0;
  height: 28px;
  text-align: center;
  font-size:9px;

}

table.gb-grid-small td.gb-dataCell {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  color: white;
  border: 1px solid #3a9ee0;
  width: 50px;
}

table.gb-grid-small td.gb-dataCell-invalid {
  background-color: #eeeeee;
   color: #A9A9A9;
}


table.gb-grid-small td.gb-dataCell-benign {
  background-color: rgb(0,128,64);
}
table.gb-grid-small td.gb-dataCell-pathogenic {
  background-color: rgb(194, 69, 82);
}

table.gb-grid-small td.gb-dataCell-invalidCount {
  background-color: #eeeeee;
  color: #A9A9A9;
}



/******************************************/
/*Large Table settings*/
/******************************************/
table.gb-grid-large {
  background-color: #F8F8F8;
  Border-collapse: collapse;
  border: 3px solid #3a9ee0;
  margin-bottom: 10px ;
}

table.gb-grid-large th{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 14px;
  font-weight: normal;
  color: white;
  background-color: #3a9ee0;
  border: 1px solid #eeeeee;
  text-align: center;
  width:90px;

}
/* Context settings to be change here*/
table.gb-grid-large th.gb-context{
  background-color: #0B4FB5;
  width: 350px;
  text-align: left;
  color: #A52A2A;
}
table.gb-grid-large span.gb-context-rank1 {
  color: white;
  font-size: 14px ;
  font-weight: bold ;
}

table.gb-grid-large span.gb-context-rank2 {
  font-size: 13px;
  color: yellow;
}

table.gb-grid-large span.gb-context.rank3 {
  font-size: 12px;
  color: #FFFFCC;
}

table.gb-grid-large span.gb-context-rankX {
  font-size: 11px;
  color: black;
}
/* First header row */
table.gb-grid-large th.gb-part1-header-benign {
  background-color: rgb(0, 128, 64);
  font-weight: bold;
  font-size: 14px;
  color: white ;
}

table.gb-grid-large th.gb-part1-header-pathogenic {
  background-color: rgb(194, 69, 82);
  font-weight: bold;
  font-size: 14px;
  color: white;
}



/* Column main cell */
table.gb-grid-large th{
  background-color: #3a9ee0 ;
  font-weight: normal;
  color: white;
  border: 1px solid white;
  font-size: 14px;
}

table.gb-grid-large td.gb-dataCell {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 1px solid #3a9ee0;
  background: white ;
  cursor: cell ;
}

/* Last row for Special value entry */
table.gb-grid-large tr.gb-special .gb-specialStr{
  font-size: 11px;
  color: black;
  text-align: left;
}

table.gb-grid-large tr.gb-special .list{
  font-size: 11px;
  color: #F89829;
  text-align: left;
}


/* Special value cells inside the grid */
table.gb-grid-large td.gb-dataCell-benign {
  background-color: rgb(0,128,64);
  cursor: pointer ;
}
table.gb-grid-large td.gb-dataCell-pathogenic {
  background-color: rgb(194, 69, 82);
  cursor: pointer ;
}

table.gb-grid-large td.gb-dataCell-invalid {
  background-color: #eeeeee;
  cursor: not-allowed  ;
   color: #A9A9A9;
}

table.gb-grid-large td.gb-dataCell-invalidCount {
  background-color: #eeeeee;
  cursor: pointer ;
  color: #A9A9A9;
}


table.gb-grid-large td.gb-dataCell-plain {
  font-weight: bold;
  color: #F89829;

}


table.gb-grid-large td.gb-dataCell-benign-highlighted {
  background-color: rgb(143, 203, 190);
}

table.gb-grid-large td.gb-dataCell-pathogenic-highlighted {
  background-color: rgb(69, 132, 194);
}

