<div class="modal fade " id="registerVariantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register Variant</h4>
      </div>
      <div class="modal-body">
        The variant/allele you searched for could not be found in the allele registry. Would you like to register this allele in the allele registry ?
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="registerVariant();">Register</button>
      </div>
    </div>
  </div>
</div>