<div class="modal fade " id="variantNotFoundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Variant Not Found</h4>
      </div>
      <div class="modal-body">
        The variant/allele you searched for could not be found in the allele registry. Please try to search for the variant using its HGVS expression.
      </div>
    </div>
  </div>
</div>