<%#
THIS FILE USES eruby %>
<%
# ---------------------------------------------------------------------------
# SETUP CONVENIENT ENVIRONMENT
# ---------------------------------------------------------------------------
require "timeout"
require "stringio"
require "cgi"
require "json"
require "net/http"
require "uri"
require "brl/util/util"
require "brl/genboree/genboreeUtil"
require 'brl/db/dbrc'
require "brl/genboree/genboreeContext"
require 'brl/genboree/rest/apiCaller'
require 'brl/genboree/abstract/resources/user'
BRL::Genboree::REST::ApiCaller.usageContext = :serverEmbedded


begin
  cgi = CGI.new()
  @req = Apache.request
  @serverName = cgi.host
  @serverName += ":#{cgi.server_port}" if(cgi.server_port != 80)
  @context = BRL::Genboree::GenboreeContext.new(cgi, ENV)
  self.extend(BRL::Genboree)
  @errorMsg = ""
  @genMsg = ""
  @user = ""
  @errorState = false
  version = 'V2.5'
  hgvs = (@context.cgi['hgvs'] =~ /\S/) ? @context.cgi['hgvs'] : nil
  
  transfertoJs =  StringIO.new
  transfertoJs << "var hgvsFromUser = '#{CGI.escape(hgvs.strip())}';" if hgvs 
 %>
  <!DOCTYPE html>
  <html>
    <head>
      <title>CLINGEN PATHOGENICITY CALCULATOR</title>
      <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="utf-8" http-equiv="encoding">

      <link rel="stylesheet" type="text/css" href="/javaScripts/ext-4.2.1/resources/css/ext-all.css?jsVer=<%= @context.genbConf.jsVer %>"/>
      <link rel="stylesheet" type="text/css" href="/clingenInference/<%=version%>/style/gridPage.css?jsVer=<%= @context.genbConf.jsVer %>"/>
      <link rel="stylesheet" type="text/css" href="/clingenInference/<%=version%>/style/tableViews.css?jsVer=<%= @context.genbConf.jsVer %>"/>

      <script type="text/javascript" src="/javaScripts/ext-4.2.1/ext-all.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
      <script type="text/javascript" src="/javaScripts/util.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
      <script type="text/javascript" src="/clingenInference/<%=version%>/javaScripts/entryPage.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
      <script type="text/javascript" src="/clingenInference/<%=version%>/javaScripts/panels.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
      <script type="text/javascript" src="/clingenInference/<%=version%>/javaScripts/advanceSearch.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
      <script type="text/javascript" src="/clingenInference/<%=version%>/javaScripts/ajax.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
      <script type="text/javascript" src="/clingenInference/<%=version%>/javaScripts/template.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
      <script type="text/javascript" src="/clingenInference/<%=version%>/javaScripts/createEvidence.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
      <script type="text/javascript" src="/clingenInference/<%=version%>/javaScripts/helper.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
      <script type="text/javascript" src="/clingenInference/<%=version%>/javaScripts/forge.bundle.js?jsVer=<%= @context.genbConf.jsVer %>"></script>
       <script type="text/javascript" >
       <%= transfertoJs.string %>
        Ext.onReady(function(){
          // Set up tooltip singleton.
         alert("Ready to register the allele") ;
        });

     </script>
  </html>
<%
  rescue => err
      @genMsg = "ERROR"
      @errorMsg += "Encountered an unexpected error"
      @errorMsg += '<br>' 
      @errorMsg += "DETAILS: #{err.message}" +err.backtrace.join("\n")
      @errorState = true
%>    
  
     <%= @errorMsg.to_s %>
<%
end # begin


%>
